# https://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{*.sh,setup-termux-alpine}]
indent_size = 4

[*.json]
insert_final_newline = ignore

[*.md]
max_line_length = 0
trim_trailing_whitespace = false

[LICENSE]
insert_final_newline = ignore